@font-face {
  font-family: Vazir;
  font-weight: normal;
  src: url("./Vazir.eot");
  src: url("./Vazir.eot?#iefix") format("embedded-opentype"), url("./Vazir.woff2") format("woff2"), url("./Vazir.woff") format("woff"), url("./Vazir.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-weight: bold;
  src: url("./Vazir-Bold.eot");
  src: url("./Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("./Vazir-Bold.woff2") format("woff2"), url("./Vazir-Bold.woff") format("woff"), url("./Vazir-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-weight: 300;
  src: url("./Vazir-Light.eot");
  src: url("./Vazir-Light.eot?#iefix") format("embedded-opentype"), url("./Vazir-Light.woff2") format("woff2"), url("./Vazir-Light.woff") format("woff"), url("./Vazir-Light.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-weight: 500;
  src: url("./Vazir-Medium.eot");
  src: url("./Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("./Vazir-Medium.woff2") format("woff2"), url("./Vazir-Medium.woff") format("woff"), url("./Vazir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-weight: 100;
  src: url("./Vazir-Thin.eot");
  src: url("./Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("./Vazir-Thin.woff2") format("woff2"), url("./Vazir-Thin.woff") format("woff"), url("./Vazir-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Vazir;
  font-weight: 900;
  src: url("./Vazir-Black.eot");
  src: url("./Vazir-Black.eot?#iefix") format("embedded-opentype"), url("./Vazir-Black.woff2") format("woff2"), url("./Vazir-Black.woff") format("woff"), url("./Vazir-Black.ttf") format("truetype");
}
